// This is a file that can be overridden by the application in order to override
// some of the Foundation/Decidim SCSS settings and variables after the default
// settings have been loaded.
//
// To override styles use decidim_application.scss
//
// By default this is empty.
@import "stylesheets/decidim/emvi/emvi-settings";

html[dir=rtl]{
    .topbar__search{
        button {
            border-radius: 4px 0 0 4px;
        }
        &:not(:focus-within){
            button{
                border-width:1px 0 1px 1px;
            }
        }
        input {
            border-width:1px 1px 1px 0;
            border-radius: 0 4px 4px 0;
        }
    }
    .close-button.medium, .close-button{
        left:0;
        right:unset;
    }
} 