// style the language switcher for the header

html, body{
    @apply bg-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
	.main-bar {
		@media (min-width: 1024px) {
		height: auto;
		}
	}
	.main-bar__logo {
		grid-column: 1;

		@media (min-width: 1024px) {
		grid-column: 1 / span 3;
		}

		.main-bar__logo-desktop img {
		max-height: unset;
		}
	}
	.main-bar__search {
		grid-column-start: 3;

		@media (min-width: 1024px) {
		grid-column: 4 / span 3;
		justify-self: center;
		}
	}
	.main-bar__languagemenu {
		grid-column: 2 / span 2;
		justify-self: center;

		@media (min-width: 768px) {
		grid-column: 6 / span 2;
		justify-self: start;
		}

		@media (min-width: 1024px) {
		grid-column: 7 / span 2;
		justify-self: start;
		}

		font-size: 0.8rem !important;

		.main-footer__language-container {
		@apply relative;

		.main-footer__language-trigger {
			@apply flex cursor-pointer items-center gap-1 rounded border px-2 py-1.5 font-semibold text-[0.8rem] leading-5;
			border-color: rgb(var(--secondary-rgb) / var(--tw-text-opacity, 1));
			color: rgb(var(--secondary-rgb) / var(--tw-text-opacity, 1));

			svg {
			fill: rgb(var(--secondary-rgb) / var(--tw-text-opacity, 1));

			&:last-of-type {
				@apply ml-auto block;
			}
			}
			&[aria-expanded='true']{
				@apply rounded-b-none;
			}
			&[aria-expanded='true'] > svg:first-of-type {
			@apply block;
			}

			span {
			color: rgb(var(--secondary-rgb) / var(--tw-text-opacity, 1));
			font-size: 0.8rem !important;
			}
		}

		.main-footer__language {
			@apply absolute left-0 top-full w-full rounded-sm rounded-t-none border-x border-b border-primary bg-white;
			li{
				@apply text-primary hover:text-white;
			}
		}
		}
	}
}

@media (min-width: 1024px) {
	header .main-bar__links-desktop,
	header .main-bar > *:last-child {
		grid-column-end: 13;
		grid-column-start: span 4;
	}
}

h1.title-decorator{
  @apply break-all 2xl:break-normal;
}

footer {
	.main-footer__language-container {
		display: none;
	}
	.mini-footer__emvi,
	.footer_mitgestalten {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 32px;
		margin-right: auto;
		margin-left: auto;
		padding: 32px;
		padding-bottom: 1rem;
		color: white;
		@media (min-width: 640px) {
			max-width: 640px;
		}
		@media (min-width: 768px) {
			max-width: 768px;
		}
		@media (min-width: 1024px) {
			max-width: 1024px;
			padding-right: 4rem;
			padding-left: 4rem;
		}
		a {
			span {
				display: none;
			}
		}
	}
	.mini-footer__emvi {
		flex-wrap: wrap;
		span,
		a {
			flex: 0 1 40%;
			img {
				max-width: 150px;
				margin-bottom: 16px;
			}
			img.eu {
				max-width: 250px;
			}
		}
		a {
			display: flex;
			justify-content: center;
		}
	}
	.footer_mitgestalten {
		flex-direction: column;
		gap: 0;
		img {
			max-width: 150px;
		}
	}
}
